.switch {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 50px;
}



.switch input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 50px;
    background-color: #c8c8c8;
    overflow: hidden;
}

.slider:hover {
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.3);
}

.slider:before {
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    left: 5px;
    bottom: 5px;
    border-radius: 50%;
    background-color: white;
    background-size: 60%;
    background-position: center;
    background-repeat: no-repeat;
}

input:checked + .slider {
    background-color: #32ff32;
}

input:checked + .slider:before {
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
}
